
body {
    margin: 0;
}

div#game {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.points {
    border: 1px solid black;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;
}

div.timer {
    border: 1px solid black;
    position: absolute;
    margin-right: 2%;
    margin-top: 2%;
    right: 0;
    padding: 1%
}